flask_autoindex
flask
flask-restful
flask-restful-swagger
flask-swagger-ui
flask_cors
gevent==21.12.0
colorlog
cliff
portalocker
requests
pysftp
bs4
lxml
pysmb
pandas
MarkupSafe==2.0.1
werkzeug
psutil
setuptools==67.3.2